page-payments {
  .heading {
    font-size: large;
    font-weight: bold;
  }

  .vertical-align-content > * {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
  }

  .money {
    font-size: large;
    font-weight: thin;
    font-style: italic;
  }

  .pull-right {
    float: right;
  }

  .card {
    box-shadow: none;
    border-right: solid;
    border-right-color: lightgray;
  }

  .cardRow {
    border-bottom: solid;
    border-bottom-color: lightgray;
  }

  .cardRow:last-child {
    border-bottom: none;
  }

  .card:last-child {
    border-right: none;
  }

  .card-mini {
    min-height: 100px;
  }

  .labels {
    font-style: italic;
    font-weight: bold;
  }
}
