page-contributions {

    .heading
    {
        font-size: large;
        font-weight: bold;
    }
    .vertical-align-content > *
    {
         display: flex!important;
         align-content: center!important;
         align-items: center!important;
    }
    .money
    {
        font-size: large;
        font-weight: thin;
        font-style: italic;
    }

    .pull-right
    {
        float:right;
    }
}
